{% extends 'base.html' %}
{% load static %}


{% block head %}

<title>Login V16</title>

<style>
    .center {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
    </style>
{% endblock %}


{% block body %}

  <div class="center">
    <p>Pick a Role !</p>
    
    <li>
      <a href="{% url "signUpAnggota" %}">ANGGOTA</a>
    </li>
    <li>
      <a href="{% url "signUpPetugas" %}">PETUGAS</a>
    </li>

    

  </div>


{% endblock %}
