{% extends 'base.html' %}
{% load static %}
{% block head %}

<title>Login V16</title>

<style>
    .center {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
    </style>
{% endblock %}


{% block body %}

<head>
	<meta charset="utf-8">
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="{% static "css/penugasan/css/style.css" %}">
</head>


<body class="form-v5">
		
	<div class="page-content">
		<div class="form-v5-content">
			{% if messages %}
				<ul class="messages">
					{% for message in messages %}
					<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
					{% endfor %}
				</ul>
			{% endif %}
			<li>
				<a href="{% url "pickarole" %}">Belum punya akun ? SIGN UP</a>
			</li>

			<form class="form-detail" action="/registrasi/afterLogin/" method="post">
				{% csrf_token %}
        <h2>Log In</h2>
				<div class="form-row">
					<label for="full-name">No KTP</label>
					<input type="text" name="ktp" id="inputKTP" class="input-text" placeholder="No KTP" required>
				</div>
				<div class="form-row">
					<label for="full-name">Email Address</label>
					<input type="email" name="email" id="inputEmail" placeholder="Email Address" required>
        </div>
        <div class="form-row-last">
					<input type="submit" name="register" class="register" value="Register">
				</div>
			</form>
    </div>
	</div>
</body>


{% endblock %}
