{% extends 'base.html' %}
{% load static %}


{% block head %}

<title>Login V16</title>

<style>
    .center {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
    </style>
{% endblock %}


{% block body %}

<head>
	<meta charset="utf-8">
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Font-->
	<link rel="stylesheet" type="text/css" href="static/css/roboto-font.css">
	<link rel="stylesheet" type="text/css" href="static/fonts/font-awesome-5/css/fontawesome-all.min.css">
	<!-- Main Style Css -->
    <link rel="stylesheet" href="{% static "css/penugasan/css/style.css" %}">
</head>
<body class="form-v5">
	<div class="page-content">
		<div class="form-v5-content">
				{% if messages %}
				<ul class="messages">
					{% for message in messages %}
					<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
					{% endfor %}
				</ul>
				{% endif %}
			<form class="form-detail" action="/registrasi/afterSignup/anggota/" method="POST">
				{% csrf_token %}
				<h2>Sign Up Anggota</h2>
				<div class="form-row">
					<label for="full-name">No KTP</label>
					<input type="text" name="ktp" id="inputKTP" class="input-text" placeholder="No KTP" required>
				</div>
				<div class="form-row">
					<label for="full-name">Nama Lengkap</label>
					<input type="text" name="namaLengkap" id="inputNamaLengkap" class="input-text" placeholder="Nama Lengkap" required>
				</div>
				<div class="form-row">
					<label for="full-name">Email Address</label>
					<input type="email" name="email" id="inputEmail" class="input-text" placeholder="Email Address" required>
				</div>
				<div class="form-row">
					<label for="full-name">Nomor HP</label>
					<input type="text" name="nomorHP" id="inputNomorHP" class="input-text" placeholder="Nomor HP" required>
                </div>
				<div class="form-row">
					<label for="full-name">Tanggal Lahir</label>
					<input type="date" name="tanggalLahir" id="inputTanggalLahir" class="input-date" placeholder="Tanggal Lahir" required>
                </div>
				<div class="form-row">
					<label for="full-name">Alamat</label>
					<input type="text" name="alamat" id="inputAlamat" class="input-text" placeholder="Alamat" required>
                </div>
				<div class="form-row-last">
					<input type="submit" name="register" class="register" value="Register">
				</div>
			</form>
		</div>
	</div>
</body>


{% endblock %}
