{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <link rel="stylesheet" href="{% static "css/daftar_peminjaman.css" %}">
        <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.7.2/css/all.css">
        <script src="{% static "/js/voucher/voucher.js" %}"></script>
    {% endblock %}
</head>
<body style="background-color: whitesmoke;">
    {% block body %}
        <div class="container" style="font-family: Quicksand; margin-top: 100px;">
            <h1 style="text-align: center;">Daftar Peminjaman</h1>
            <br>
            <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for bicycle numbers.." title="Type in a name" style="background-position: 10px 10px; background-repeat: no-repeat; width: 30%; font-size: 16px; padding: 12px 20px 12px 40px; border: 1px solid #ddd; margin-bottom: 12px;">
            <p><button onclick="sortTable(0)">Sort</button> *You can sort the table by clicking one of the table heads</p>
            <table class="table table-striped" id="myTable">
                <thead class="thead-dark">
                    <tr>
                        <th onclick="sortTable(0)">No. Kartu Anggota</th>
                        <th onclick="sortTable(1)">Sepeda</th>
                        <th onclick="sortTable(2)">Stasiun</th>
                        <th onclick="sortTable(3)">Waktu Kembali</th>
                        <th onclick="sortTable(4)">Biaya</th>
                        <th onclick="sortTable(5)">Denda</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in peminjaman %}
                    <tr>
                        <td>{{i.0}}</td>
                        <td>{{i.2}}</td>
                        <td>{{i.3}}</td>
                        <td>{{i.4}}</td>
                        <td>{{i.5}}</td>
                        <td>{{i.6}}</td>
                        <td><a href="{% url "daftar_peminjaman" %}">Kembalikan</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endblock %}
</body>