{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    {% block title %}
        <title>Bike Sharing - Peminjaman</title>
    {% endblock %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block head %}
        <link rel="stylesheet" href="{% static "css/peminjaman.css" %}">
        <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.7.2/css/all.css">
    {% endblock %}
</head>
{% block body %}
    <body>
        <div id="wrapper">
            <div class="form-container">
                <span class="form-heading">Form Buat Peminjaman</span>
                <form action={% url 'tambah_peminjaman' %} method="POST">
                    {% csrf_token %}
                    <div class="input-group">
                        <i class="fas fa-bicycle"> Sepeda Stasiun</i>
                        <select name="sepeda_stasiun" class="form-control" required data-live-search="true">
                            {% for i in sepeda_stasiun %}
                                <option>{{ i.0 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="input-group">
                        <button>
                            <i class="fas fa-bicycle"> Pinjam Sepeda</i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </body>
{% endblock %}