.container-daftar{
  margin-bottom:120px;
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 100px;
  padding-bottom: 30px;
  padding-left:40px;
  padding-right:40px;
  background-color: white;
  width: 900px
  box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;;
}

.table-responsive{
  margin-top : 30px;
}
@media screen and (max-width: 1200px) {
  .container-daftar {
    width: calc( 100% - 30px);
    max-width: 100%; } }
@media screen and (min-width: 1024px) {
  .container-daftar {
    max-width: 1200px; } }

h2.form-title1 {
  line-height: 1.66;
  font-weight: bold;
  color: #222;
  font-family: Poppins;
  font-size: 30px;
  text-align: center;
  margin-left: 450px;
  margin-bottom: 30px;
}
tr{
  margin-top:10px;
  margin-bottom:10px;
  padding-top:10px;
}
