{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>

<html lang="en">

<head>
    {% block head %}
    <title>Bike Sharing - Penugasan</title>
    {% endblock %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
{% block body %}

<style>
    .box {
        background-color: #F9D979;
        color: white;
        margin-top: 13px;
        padding: 12px 25px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
</style>

<body>
    <div style="margin-top: 100px;">
        <form action="/penugasan/post_penugasan" method="POST" class="container-fluid col-sm-6">
            {% csrf_token %}
            <h1>Penugasan</h1>
            <p>Please fill in this form to add an assignment</p>
            <label>Petugas:</label>
            <div class="form-group">
                <select name="petugas" class="form-control" id="inputPetugas" required>
                    {% for i in petugas %}
                    <header>Petugas</header>
                    <option>{{i.0}}- {{i.1}}</option>
                    {% endfor %}
                </select>
            </div>
            <label>Tanggal Mulai:</label>
            <div class="form-group">
                <input name="mulai" type="date" class="form-control" id="inputTanggalMulai" placeholder="Tanggal Mulai"
                    required>
            </div>
            <label>Tanggal Selesai:</label>
            <div class="form-group">
                <input name="selesai" type="date" class="form-control" id="inputTanggalSelesai"
                    placeholder="Tanggal Selesai" required>
            </div>
            <label>Stasiun:</label>
            <div class="form-group">
                <select name="stasiun" id="inputStasiun" class="form-control" placeholder="Stasiun" label="Stasiun"
                    required>
                    {% for i in stasiun %}
                    <option>{{i.0}}</option>
                    {% endfor %}
                </select>
            </div>
            <br>
            <div class="form-row-last">
					<input type="submit" name="register" class="register box" value="Register">
				</div>

        </form>


    </div>
    <script>
        $('select').selectpicker();
    </script>

</body>
{% endblock %}

</html>