{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    {% block head %}
        <title>Bike Sharing - Penugasan</title>
    {% endblock %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
{% block body %}
    <body >
        <div style="margin-top: 100px;">
            <form action={% url 'update_penugasan' %} method="POST" class="container-fluid col-sm-6" style="color: whitesmoke; float: none;">
                {% csrf_token %}
                <div style="color: #222222;">
                    <h1>Penugasan</h1>
                    <p>Please fill in this form to update penugasan</p>
                    {{ form.as_p }}
                    <!--
                    <label>
                        <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
                    </label>
                    <p>By registering as a donor, you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
                    -->
                    <div>
                        <input type="submit" class="btn btn-success" value="Submit">
                    </div>
                </div>
            </form>
        </div>
    </body>
{% endblock %}
</html>