{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>

<html lang="en">

<head>
    {% block head %}
    <title>Bike Sharing - Acara</title>
    {% endblock %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
{% block body %}

<style>
.box {
    background-color: #F9D979;
    color: white;
    margin-top: 13px; 
    padding: 12px 25px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
</style>
<body>
    <div style="margin-top: 100px;">
        <form action="/acara/post_acara" method="POST" class="container-fluid col-sm-6">
            {% csrf_token %}
            <h1>Acara</h1>
            <p>Please fill in this form to add an event</p>
            <label>Judul:</label>
            <div class="form-group">
                <input name="judul" style="margin-top: -5px;" type="text" class="form-control" id="inputJudulAcara" placeholder="Judul">
            </div>
            <label>Deskripsi:</label>
            <div class="form-group">
                <input name="deskripsi" style="margin-top: -5px;" type="text" class="form-control" id="inputDeskripsiAcara"
                    placeholder="Deskripsi">
            </div>
            <label>Gratis:</label>
            <div class="form-label-group">
                <select name="gratis" style="margin-top: -5px; margin-bottom: 20px;" id="inputGratis" class="form-control" placeholder="Gratis" required>
                    <option selected>Gratis</option>
                    <option>Tidak Gratis</option>
                </select>
            </div>
            <label>Tanggal Mulai:</label>
            <div class="form-group">
                <input name="mulai" style="margin-top: -5px;" type="date" class="form-control input-date" id="TanggalMulaiAcara" placeholder="Tanggal Mulai">
            </div>
            <label>Tanggal Selesai:</label>
            <div class="form-group">
                <input name="selesai" style="margin-top: -5px;" type="date" class="form-control input-date" id="TanggalSelesaiAcara"
                    placeholder="Tanggal Selesai">
            </div>

            <label>Stasiun:</label>
            <div class="form-label-group">
                <select name="stasiun" style="margin-top: -5px;" id="inputStasiun" class="form-control selectpicker" placeholder="Stasiun"
                    required multiple data-live-search="true">
                    {% for i in stasiun %}
                    <option>{{i.0}}</option>
                    {% endfor %}
                </select>
            </div>
            <br>
            <div class="form-row-last">
					<input type="submit" name="register" class="register box" value="Register">
				</div>

        </form>

    </div>
    <script>
        $('select').selectpicker();
    </script>

</body>
{% endblock %}

</html>