{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}

{% block title %}
{% endblock title %}

{% block head %}

<link rel="stylesheet" href="{% static 'css/style1.css' %}">
<link rel="stylesheet" href="{% static 'material-design-iconic-font.css' %}">

<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
{% endblock %}

{% block body %}

<style>
    .dropbtn {
        background-color: #3498DB;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

    .dropbtn:hover,
    .dropbtn:focus {
        background-color: #2980B9;
    }

    .dropdown {
        position: relative;
        display: inline-block;
        text-align: center;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown a:hover {
        background-color: #ddd;
    }

    .show {
        display: block;
    }
</style>

<!-- Add stasiun list -->

<div class="container-daftar">
    <div class="add-content">
        <div class="row">
            <h2 class="form-title1">Daftar Acara</h2>
            <div class="table-responsive">
                {% if request.session.role == "petugas" %}
                <table id="mytable" class="table table-bordred table-striped">
                    <thead>
                        <tr>
                            <th>Judul</th>
                            <th>Deskripsi</th>
                            <th>Tanggal mulai</th>
                            <th>Tanggal akhir</th>
                            <th>Gratis</th>
                            <th>Action</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for i in acara %}
                        <tr>
                            <th scope="row">{{i.1}}</th>
                            <td>{{i.2}}</td>
                            <td>{{i.3}}</td>
                            <td>{{i.4}}</td>
                            <td>{{i.5}}</td>
                            <td><a data-placement="top" data-toggle="tooltip" title="Edit"><button
                                        class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal"
                                        data-target="#edit">Update</button></a>
                                <a data-placement="top" data-toggle="tooltip" title="Delete"><a href="url_to_delete"
                                        class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal"
                                        data-target="#edit"
                                        onclick="return confirm('Are you sure you want to delete this item?');">Delete</a></a>
                            </td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
                {% elif request.session.role == "anggota" %}
                <table id="mytable" class="table table-bordred table-striped">
                    <thead>
                        <tr>
                            <th>Judul</th>
                            <th>Deskripsi</th>
                            <th>Tanggal mulai</th>
                            <th>Tanggal akhir</th>
                            <th>Gratis</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for i in acara %}
                        <tr>
                            <th scope="row">{{i.1}}</th>
                            <td>{{i.2}}</td>
                            <td>{{i.3}}</td>
                            <td>{{i.4}}</td>
                            <td>{{i.5}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>
        </div>
        <br>
    </div>
</div>

<script>
    /* When the user clicks on the button,
        toggle between hiding and showing the dropdown content */
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function (event) {
        if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }

    $(document).ready(function () {
        $('#mytable').DataTable();
    });
</script>
{% endblock %}