{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}

{% block title %}
{% endblock title %}

{% block head %}
    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'material-design-iconic-font.css' %}">
    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- JS -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="js/main.js"></script>
{% endblock %}

{% block body %}

<!-- Add stasiun form -->
<section class="add">
  <div class="container-edit">
      <div class="add-content">
        <div class="row">
          <div class="col-md-6">
            <div class="add-form">
                <h2 class="form-title1">Penambahan stasiun</h2>
                <form action="/stasiun/poststasiun" method="POST">
                  {% csrf_token %}
                  <div class="form-group">
                      <label for="name"><i class="name"></i></label>
                      <input type="text" name="nama" id="name" placeholder="Nama" required />
                  </div>
                  <div class="form-group">
                      <label for="alamat"><i class="name"></i></label>
                      <input type="text" name="alamat" id="name" placeholder="Alamat" required />
                  </div>
                  <div class="form-group">
                      <label for="longitude"><i class="name"></i></label>
                      <input type="text" name="latitude" id="name" placeholder="Latitude" />
                  </div>
                  <div class="form-group">
                      <label for="latitude"><i class="name"></i></label>
                      <input type="text" name="longitude" id="name" placeholder="Longitude" />
                  </div>
                  <div class="form-group form-button">
                      <input type="submit" name="add" id="add" class="form-submit" value="Submit"/>
                  </div>
                </form>
            </div>
          </div>
          <div class="col-md-6">
            <div class="add-image">
                <figure><img src="https://scontent.fcgk18-2.fna.fbcdn.net/v/t1.0-9/59487760_1566002416865635_6596520650792239104_n.jpg?_nc_cat=104&_nc_ht=scontent.fcgk18-2.fna&oh=14ff139985fcd569ad583af921d082c2&oe=5D5F5346"></figure>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
{% endblock %}
