{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}

{% block title %}
{% endblock title %}

{% block head %}

  <link rel="stylesheet" href="{% static 'css/style1.css' %}">
  <link rel="stylesheet" href="{% static 'material-design-iconic-font.css' %}">

<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
{% endblock %}

{% block body %}

<!-- Add stasiun list -->
<!-- <div class="cd-popup" role="alert">
    <div class="cd-popup-container">
          <p>Are you sure you want to delete this element?</p>
          <ul class="cd-buttons">
              <li onclick="yesFunction()"><a href="#0">Yes</a></li>
              <li onclick="cancelFunction()"><a href="#0">No</a></li>
          </ul>
    </div> <!-- cd-popup-container -->
<!-- </div> --> 
<div class="container-daftar">
    <div class="add-content">
    	<div class="row">
            <h2 class="form-title1">Daftar Stasiun</h2>
              </div>
              {% if request.session.role == "petugas" %}
              <div class="table-responsive">


              <table id="mytable" class="table table-bordred table-striped">

                 <thead>
                    <th>Nomor</th>
                    <th>Nama stasiun</th>
                    <th>Alamat</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Action</th>
                 </thead>
                <tbody>
                {% for i in stasiun %}
                      <tr>
                      <td>{{i.0}}</td>
                      <td>{{i.4}}</td>
                      <td>{{i.1}}</td>
                      <td>{{i.2}}</td>
                      <td>{{i.3}}</td>

                      <td><a data-placement="top" data-toggle="tooltip" href="{% url 'stasiun:updatestasiun' %}" title="Update"><button class="btn btn-primary btn-xs" id="{{i.0}}" data-toggle="modal" onclick="updateModal(this.id)" data-target="#exampleModalCenter">Update</button></a>
                          <a data-placement="top" data-toggle="tooltip" title="Delete"><a href="{% url 'sepeda:deletesepeda' %}" class="btn btn-danger btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit"  onclick="return confirm('Are you sure you want to delete this item?');">Delete</a></td>
                      </tr>
                  {% endfor %}
                  </tbody>
              </table>
              {% elif request.session.role == "anggota" %}
              <div class="table-responsive">
              <table id="mytable" class="table table-bordred table-striped">

                 <thead>
                    <th>Nomor</th>
                    <th>Nama stasiun</th>
                    <th>Alamat</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                 </thead>
                <tbody>
                {% for i in stasiun %}
                      <tr>
                        <td>{{i.0}}</td>
                        <td>{{i.4}}</td>
                        <td>{{i.1}}</td>
                        <td>{{i.2}}</td>
                        <td>{{i.3}}</td>
                      </tr>
                {% endfor %}
                </tbody>
              </table>
              {% endif %}
            </div>
    	</div>
  </div>
  <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle">Update Stasiun</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="spinner-border false"role="status">
                    <span class="sr-only">Loading...</span>
                </div>

                <form id="load" class="true">
                  {% csrf_token %}
                    <div class="form-group">
                      <label for="formGroup">Nama</label>
                      <input type="text" class="form-control" id="namaStasiun" placeholder="Nama">
                    </div>
                    <div class="form-group">
                      <label for="formGroup2">Alamat</label>
                      <input type="text" class="form-control" id="alamatStasiun" placeholder="Alamat">
                    </div>
                    <div class="form-group">
                        <label for="formGroup2">Latitude</label>
                        <input type="text" class="form-control" id="latitudeStasiun" placeholdeR="Latitude">
                      </div>
                      <div class="form-group">
                          <label for="formGroup2">Longitude</label>
                          <input name="longitude" type="text" class="form-control" id="longitudeStasiun" placeholder="Longitude">
                      </div>
                </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-primary" onclick="updateStasiun()">Save changes</button>
            </div>
          </div>
        </div>
      </div>

</div>

<script src="{% static '/js/main.js' %}"></script>
{% endblock %}
