{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}

{% block title %}
{% endblock title %}

{% block head %}
    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'material-design-iconic-font.css' %}">
    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- JS -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="js/main.js"></script>
{% endblock %}

{% block body %}

<section class="update">
    <div class="container-edit">
        <div class="update-content">
          <div class="row">
            <div class="col-md-6">
              <div class="update-image">
                  <figure><img src="https://scontent.fcgk18-1.fna.fbcdn.net/v/t1.0-9/59710129_1566002423532301_945452520963047424_n.jpg?_nc_cat=105&_nc_ht=scontent.fcgk18-1.fna&oh=fc4b9a06ffeb557441c11e096a563595&oe=5D7028CF"></figure>
              </div>
            </div>
            <div class="col-md-6">
              <div class="update-form">
                  <h2 class="form-title">Update stasiun</h2>
                  <form action="/stasiun/poststasiun" method="POST">
                  {% csrf_token %}
                    <div class="form-group">
                        <label for="nama"><i class="name"></i></label>
                        <input type="text" name="nama" id="name" placeholder="Nama" required />
                    </div>
                    <div class="form-group">
                        <label for="alamat"><i class="name"></i></label>
                        <input type="text" name="alamat" id="name" placeholder="Alamat" required />
                    </div>
                    <div class="form-group">
                        <label for="latitude"><i class="name"></i></label>
                        <input type="text" name="latitude" id="name" placeholder="Latitude" />
                    </div>
                    <div class="form-group">
                        <label for="longitude"><i class="name"></i></label>
                        <input type="text" name="longitude" id="name" placeholder="Longitude" />
                    </div>
                    <div class="form-group form-button">
                        <input type="submit" name="update" id="update" class="form-submit" value="Update"/>
                    </div>
                  </form>
              </div>
            </div>
          </div>
        </div>
    </div>
</section>
{% endblock %}
