{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <link rel="stylesheet" href="{% static "css/daftar_voucher.css" %}">
        <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.7.2/css/all.css">
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <script src="{% static "/js/voucher/voucher.js" %}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    {% endblock %}
</head>
<body style="background-color: whitesmoke;">
    {% block body %}
        <div class="container" style="font-family: Quicksand; margin-top: 100px;">
            <h1 style="text-align: center;">Daftar Voucher</h1>
            <br>
            <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for voucher names.." title="Type in a name" style="background-position: 10px 10px; background-repeat: no-repeat; width: 30%; font-size: 16px; padding: 12px 20px 12px 40px; border: 1px solid #ddd; margin-bottom: 12px;">
            <p><button onclick="sortTable(0)">Sort</button> *You can sort the table by clicking one of the table heads</p>
            <table class="table table-striped display" id="myTable">
                <thead class="thead-dark">
                    <tr>
                        <th onclick="sortTable(0)">ID Voucher</th>
                        <th onclick="sortTable(1)">Nama</th>
                        <th onclick="sortTable(2)">Kategori</th>
                        <th onclick="sortTable(3)">Nilai Poin</th>
                        <th onclick="sortTable(4)">Deskripsi</th>
                        <th onclick="sortTable(5)">Diklaim oleh</th>
                        {% if request.session.role == "petugas" %}
                            <th>Action</th>
                        {% elif request.session.role == "anggota" %}
                            <th>Action</th>
                        {% else %}
                        {% endif %}

                    </tr>
                </thead>
                <tbody>
                    {% for i in daftar_voucher %}
                    <tr>
                        <td>{{i.0}}</td>
                        <td>{{i.1}}</td>
                        <td>{{i.2}}</td>
                        <td>{{i.3}}</td>
                        <td>{{i.4}}</td>
                        <td>{{i.5}}</td>

                        {% if request.session.role == "petugas" %}
                            <td>
                                <i class="fas fa-edit" id="{{i.0}}" data-toggle="modal" onclick="updateModal(this.id)" data-target="#exampleModalCenter"></i>
                                <i class="fas fa-trash-alt" id="{{i.0}}" onclick="deleteList(this.id)"></i>
                            </td>
                        {% elif request.session.role == "anggota" %}
                            <td>
                                <a href="{% url "daftar_voucher" %}">Klaim</a>
                            </td>
                        {% else %}
                        {% endif %}

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
{% comment %}        <div class="pagination">
            <span class="step-links">
                {% if all_vouchers.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ all_vouchers.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ all_vouchers.number }} of {{ all_vouchers.paginator.num_pages }}.
                </span>

                {% if all_vouchers.has_next %}
                    <a href="?page={{ all_vouchers.next_page_number }}">next</a>
                    <a href="?page={{ all_vouchers.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>{% endcomment %}
            <!-- The Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content voucher">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle">Update Voucher</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="spinner-border false"role="status">
                    <span class="sr-only">Loading...</span>
                </div>

                <form id="load" class="true" action="{% url 'update_voucher' %}">
                    <div class="form-group">
                      <label for="formGroupExampleInput">Nama</label>
                      <input type="text" class="form-control" id="namaVoucher" placeholder="Nama">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput2">Kategori</label>
                        <input type="text" name="kategori" class="form-control" id="kategoriVoucher" placeholder="Kategori" required>
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput2">Nilai Poin</label>
                        <input type="number" class="form-control" id="poinVoucher" placeholder="Poin">
                      </div>
                      <div class="form-group">
                          <label for="formGroupExampleInput2">Deskripsi</label>
                          <input type="text" class="form-control" id="deskripsiVoucher" placeholder="Deskripsi">
                        </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="updateVoucher()">Save changes</button>
              </div>
          </div>
        </div>
      </div>
    {% endblock %}
</body>