{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    {% block title %}
        <title>Bike Sharing - Voucher</title>
    {% endblock %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block head %}
        <link rel="stylesheet" href="{% static "css/voucher.css" %}">
        <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.7.2/css/all.css">
    {% endblock %}
</head>
{% block body %}
    <body>
        <div id="wrapper">
            <div class="form-container">
                <span class="form-heading">Form Penambahan Voucher</span>
                <form action={% url 'tambah_voucher' %} method="POST">
                    {% csrf_token %}
                    <div class="input-group">
                        <i class="fas fa-envelope"></i>
                        <input type="text" name="nama_voucher" placeholder="Nama Voucher..." required>
                        <span class="bar"></span>
                    </div>
                    <div class="input-group">
                        <i class="fas fa-bars"></i>
                        <input type="text" name="kategori" placeholder="Kategori Voucher..." required>
                        <span class="bar"></span>
                    </div>
                    <div class="input-group">
                        <i class="fas fa-hand-pointer"></i>
                        <input type="number" min="1" name="nilai_poin" placeholder="Nilai Poin..." required>
                        <span class="bar"></span>
                    </div>
                    <div class="input-group">
                        <i class="fas fa-box"></i>
                        <input type="text" name="deskripsi" placeholder="Deskripsi Voucher..." required>
                        <span class="bar"></span>
                    </div>
                    <div class="input-group">
                        <i class="fas fa-sort-numeric-up"></i>
                        <input type="number" name="jumlah" min="1" placeholder="Jumlah Voucher..." required>
                        <span class="bar"></span>
                    </div>
                    <div class="input-group">
                        <button>
                            <i class="fas fa-bicycle"> Tambah Voucher</i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </body>
{% endblock %}
</html>