.container-daftar{
  margin-top:60px;
  margin-bottom:120px;
  margin-right: 50px;
  margin-left: 50px;
  padding-bottom: 30px;
  padding-left:40px;
  padding-right:40px;
  background-color: white;
  width: 1000px;
}
h2 {
  line-height: 1.66;
  font-weight: bold;
  color: #222;
  font-family: Poppins;
  font-size: 30px;
  text-align: center;
  margin-left: 450px;
  margin-bottom: 30px;
}
tr{
  margin-top:10px;
  margin-bottom:10px;
  padding-top:10px;
}
body {
  font-size: 13px;
  line-height: 1.8;
  color: #222;
  font-weight: 400;
  font-family: Poppins;
  background: linear-gradient(0deg,#ff6a00 0,#ee0979 100%);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
}
