{% extends 'base.html' %}
{% load static %}


{% block head %}

<title>Login V16</title>

<style>
    .center {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
    
    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
    
    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
{% endblock %}


{% block body %}


<div class="center" style="text-align:center">
    
    <h2>Riwayat Transaksi Top Up</h2>


    <table class="table table-hover" style="padding-left: ($spacer * .5) !important;
    padding-right: ($spacer * .5) !important;">
    <thead>
        <tr>
        <th style="font-size: 20px; color: #8DA1B9;">Tanggal</th>
        <th style="font-size: 20px; color: #8DA1B9;">Jenis Transaksi</th>
        <th style="font-size: 20px; color: #8DA1B9;">Nominal</th>
        </tr>
    </thead>

    <tbody>
        {%  for tuple in all_posts %}
            <tr>
            {% for attribute in tuple %}
                    <th>{{ attribute }}</th>
            {% endfor %}
            </tr>
        {% endfor %} 
    </tbody>
    </table>
    
</div>

{% endblock %}
