{% extends 'base.html' %}
{% load static %}


{% block head %}

<title>Login V16</title>

<style>
    .center {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
    </style>
{% endblock %}


{% block body %}

  <div class="center">
    <p>FORM TOPUP</p>
    
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    <form action="/transaksi/afterTopup/" method="POST">
      {% csrf_token %}
        <br>
        <input type="text" name="topup" placeholder="Nominal ...">
        <br>
        <br><br>
        <input type="submit" value="Submit">
    </form>
  </div>


{% endblock %}
