table {
    counter-reset: tableCount;
}

th{
   text-align: center;
}

td{
    text-align: center;
}

.counterCell:before {
    content: counter(tableCount);
    counter-increment: tableCount;
}

.pagination li:hover{
    cursor: pointer;
}