{% extends 'base.html' %}
{% load static %}


{% block head %}

<title>Login V16</title>

<style>
    .center {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
    
    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
    
    tr:nth-child(even) {
        background-color: #dddddd;
    }
    .dropbtn {
        background-color: #3498DB;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        }

        .dropbtn:hover, .dropbtn:focus {
        background-color: #2980B9;
        }

        .dropdown {
        position: relative;
        display: inline-block;
        }

        .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        }

        .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        }

        .dropdown a:hover {background-color: #ddd;}

        .show {display: block;}
    </style>
{% endblock %}


{% block body %}


<div class="center" style="text-align:center">
    
    <h2>Daftar Laporan</h2>
    <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn">Sort by Date</button>
        <div id="myDropdown" class="dropdown-content">
          <a href="{% url "sortLaporanASC" %}">ASC</a>
          <a href="{% url "sortLaporanDESC" %}">DESC</a>
        </div>
    </div>

    <form class="form-detail" action="/laporan/filterByDenda/" method="post">
        {% csrf_token %}
        <div class="form-row">
            <label>DENDA</label>
            <input type="text" name="denda" id="denda" class="input-text" placeholder="minimum denda ..." required>
        </div>
        <div class="form-row-last">
                <input type="submit" name="submitFilterbyDenda" value="filter by denda">
        </div>
    </form>

    <table class="table table-hover" style="padding-left: ($spacer * .5) !important;
    padding-right: ($spacer * .5) !important;">
    <thead>
        <tr>
        <th style="font-size: 20px; color: #8DA1B9;">No</th>
        <th style="font-size: 20px; color: #8DA1B9;">ID Laporan</th>
        <th style="font-size: 20px; color: #8DA1B9;">No Kartu Anggota</th>
        <th style="font-size: 20px; color: #8DA1B9;">Tanggal Pinjam</th>
        <th style="font-size: 20px; color: #8DA1B9;">Denda</th>
        <th style="font-size: 20px; color: #8DA1B9;">Status</th>
        </tr>
    </thead>

    <tbody>
            {% for i in all_posts %}
            <tr>
              <th scope="row" class="counterCell"></th>
              <td>{{i.0}}</td>
              <td>{{i.1}}</td>
              <td>{{i.2}}</td>
              <td>{{i.3}}</td>
              <td>{{i.4}}</td>
            </tr>
           {% endfor %}

    </tbody>
    </table>

    <div class="pagination">
      <span class="step-links">
          {% if all_posts.has_previous %}
              <a href="?page=1">&laquo; first</a>
              <a href="?page={{ all_posts.previous_page_number }}">previous</a>
          {% endif %}
  
          <span class="current">
              Page {{ all_posts.number }} of {{ all_posts.paginator.num_pages }}.
          </span>
  
          {% if all_posts.has_next %}
              <a href="?page={{ all_posts.next_page_number }}">next</a>
              <a href="?page={{ all_posts.paginator.num_pages }}">last &raquo;</a>
          {% endif %}
      </span>
    </div>

    <script>
        /* When the user clicks on the button, 
        toggle between hiding and showing the dropdown content */
        function myFunction() {
          document.getElementById("myDropdown").classList.toggle("show");
        }
        
        // Close the dropdown if the user clicks outside of it
        window.onclick = function(event) {
          if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
              var openDropdown = dropdowns[i];
              if (openDropdown.classList.contains('show')) {
                openDropdown.classList.remove('show');
              }
            }
          }
        }
    </script>
</div>

{% endblock %}
