{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}

{% block title %}
{% endblock title %}

{% block head %}
    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'material-design-iconic-font.css' %}">
    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- JS -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="js/main.js"></script>

{% endblock %}

{% block body %}

<!-- Add Sepeda form -->
<section class="add">
  <div class="container-edit">
      <div class="add-content">
        <div class="row">
          <div class="col-md-6">
            <div class="add-form">
                <h2 class="form-title1">Penambahan Sepeda</h2>
                <form action="/sepeda/postsepeda" method="POST">
                  {% csrf_token %}
                  <div class="form-group">
                      <input name="merk" type="text" class="form-control" id="inputMerkSepeda" placeholder="Merk" required>
                  </div>
                  <div class="form-group">
                      <input name="jenis" type="text" class="form-control" id="inputJenis" placeholder="Jenis" required>
                  </div>
                  <div class="form-group">
                      <select name="status" id="inputStatus" class="form-control"placeholder="Status"required>
                          <option>Tersedia</option>
                          <option>Tidak Tersedia</option>
                      </select>

                  </div>
                  <div class="form-group">
                    <select name="stasiun" id="inputStasiun" class="form-control"placeholder="Stasiun"required>
                    {% for i in stasiun %}
                          <option>{{i.0}}</option>
                    {% endfor %}
                  </select>

                  </div>
                  <div class="form-group">
                    <select name="penyumbang" id="inputPenyumbang" class="form-control"placeholder="Penyumbang" required>
                        {% for i in penyumbang %}
                          <option>{{i.0}}</option>
                        {% endfor %}
                      </select>

                  </div>
                  <div class="form-group form-button">
                      <input type="submit" name="add" id="add" class="form-submit" value="Submit"/>
                  </div>
                </form>
            </div>
          </div>
          <div class="col-md-6">
            <div class="add-image">
                <figure><img src="https://scontent.fcgk18-2.fna.fbcdn.net/v/t1.0-9/59487760_1566002416865635_6596520650792239104_n.jpg?_nc_cat=104&_nc_ht=scontent.fcgk18-2.fna&oh=14ff139985fcd569ad583af921d082c2&oe=5D5F5346"></figure>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

{% endblock %}
