{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}

{% block title %}
{% endblock title %}

{% block head %}

  <link rel="stylesheet" href="{% static 'css/style1.css' %}">
  <link rel="stylesheet" href="{% static 'material-design-iconic-font.css' %}">

<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
{% endblock %}

{% block body %}

<!-- Add Sepeda list -->

<!-- <div class="cd-popup" role="alert">
    <div class="cd-popup-container">
          <p>Are you sure you want to delete this element?</p>
          <ul class="cd-buttons">
              <li onclick="yesFunction()"><a href="#0">Yes</a></li>
              <li onclick="cancelFunction()"><a href="#0">No</a></li>
          </ul>
    </div> <!-- cd-popup-container -->
<!-- </div> --> 

<div class="container-daftar">
    <div class="add-content">
    	<div class="row">
            <h2 class="form-title1">Daftar Sepeda</h2>

            </div>
            {% if request.session.role == "petugas" %}
            <div class="table-responsive">
            <table id="mytable" class="table table-bordred table-striped">

               <thead>
                  <th style="text-align: center;">Nomor</th>
                  <th style="text-align: center;">Merk</th>
                  <th style="text-align: center;">Jenis</th>
                  <th style="text-align: center;">Status</th>
                  <th style="text-align: center;">Stasiun</th>
                  <th style="text-align: center;">Penyumbang</th>
                  <th style="text-align: center;">Action</th>
               </thead>
              <tbody>
               {% for i in sepeda %}
                    <tr>
                    <td>{{i.2}}</td>
                    <td>{{i.3}}</td>
                    <td>{{i.4}}</td>
                    <td>{{i.5}}</td>
                    <td>{{i.0}}</td>
                    <td>{{i.1}}</td>
                    <td><a data-placement="top" data-toggle="tooltip" href="{% url 'sepeda:updatesepeda' %}" title="Update"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" >Update</button></a>
                        <a data-placement="top" data-toggle="tooltip" title="Delete"><a href="{% url 'sepeda:deletesepeda' %}" class="btn btn-danger btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit"  onclick="return confirm('Are you sure you want to delete this item?');">Delete</a></td>
                {% endfor %}
                </tbody>

            </table>
          {% elif request.session.role == "anggota" %}
          <table id="mytable" class="table table-bordred table-striped">

             <thead>
                <th style="text-align: center;">Nomor</th>
                <th style="text-align: center;">Merk</th>
                <th style="text-align: center;">Jenis</th>
                <th style="text-align: center;">Status/th>
                <th style="text-align: center;">Stasiun</th>
                <th style="text-align: center;">Penyumbang</th>
                <th style="text-align: center;">Action</th>
             </thead>
            <tbody>
             {% for i in sepeda %}
                  <tr>
                  <td>{{i.2}}</td>
                  <td>{{i.3}}</td>
                  <td>{{i.4}}</td>
                  <td>{{i.5}}</td>
                  <td>{{i.0}}</td>
                  <td>{{i.1}}</td>
                  <td><a data-placement="top" data-toggle="tooltip" title="Pinjam"><button class="btn btn-primary btn-xs {{i.5}}" onclick="pinjam(this.id)" id= "{{i.2}}"" >Pinjam</button></a></td>
                  </tr>
              </tbody>
              {% endfor %}
          </table>
          {% endif %}
          </div>
    	</div>
  </div>
</div>

<script src="{% static '/js/main.js' %}"></script>

{% endblock %}
